<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/assets/images/netlab-logo.png" class="logo netlab" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" {{action "showSubMenus"}}>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
    <ul class="navbar-nav mt-2 mt-md-0">
      {{#nav-item}}
        {{#link-to 'index' class="nav-link"}}
          Home
        {{/link-to}}
      {{/nav-item}}

      {{#nav-item}}
        {{#link-to 'research' class="nav-link"}}
          Research
        {{/link-to}}
        <ul class="sub-nav bg-dark">
          {{#nav-item}}
            {{#link-to 'research.power-systems-steady-state' class="nav-link"}}
               Power Systems Steady State
            {{/link-to}}
          {{/nav-item}}

          {{#nav-item}}
            {{#link-to 'research.power-systems-dynamics' class="nav-link"}}
               Power Systems Dynamics
            {{/link-to}}
          {{/nav-item}}

          {{#nav-item}}
            {{#link-to 'research.electric-vehicles' class="nav-link"}}
               Electric Vehicles
            {{/link-to}}
          {{/nav-item}}

          {{#nav-item}}
            {{#link-to 'research.communication-networks' class="nav-link"}}
               Communication Networks
            {{/link-to}}
          {{/nav-item}}
        </ul>
      {{/nav-item}}

      {{#nav-item}}
        {{#link-to 'people' class="nav-link"}}
          People
        {{/link-to}}
      {{/nav-item}}

      {{#nav-item}}
        {{#link-to 'publications' class="nav-link"}}
          Publications
        {{/link-to}}
      {{/nav-item}}

      {{#nav-item}}
        {{#link-to 'presentations' class="nav-link"}}
          Presentations
        {{/link-to}}
      {{/nav-item}}

      {{#nav-item}}
        {{#link-to 'acknowledgement' class="nav-link"}}
          Acknowledgement
        {{/link-to}}
      {{/nav-item}}
    </ul>
  </div>
</nav>
