{{#if hasPublications}}
  {{#each model as |publication| }}
    {{component 'publication-item' model=publication class='file'}}
  {{/each}}
{{else}}
  <p>Loading..{{fa-icon 'circle-o-notch' spin=true}}</p>
{{/if}}
