{{#if hasPublications}}
  {{!-- {{component 'publication-list' model=model}} --}}
  {{component 'list-pagination' paginateBy=50 items=model}}
{{else}}
  <p>Loading..{{fa-icon 'circle-o-notch' spin=true}}</p>
{{/if}}
