{{#if publications.loaded}}
  {{#each model as |publication| }}
    {{publication-item model=publication class='file'}}
  {{/each}}
{{else}}
  <p>Loading..{{fa-icon 'circle-o-notch' spin=true}}</p>
{{/if}}
