@import "custom";
@import "ember-cli-bootstrap-4/bootstrap";
@import "timeline";

h1, h2, h3, h4, h5, h6 {
  font-family: $orbitron-font-stack;
}

a {
  font-weight: $semi-bold-weight;
}

body {
  font-family: $open-san-font-stack;
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
}

main {
  background-color: #fff;
  margin-bottom: 18em;
}

figcaption {
  font-size: 0.8rem;
}

footer {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1000;
}

.bg-gray {
  background-color: $gray-200;
}

.clickable {
  cursor: pointer;
}

.offset-anchor {
  display: block;
  visibility: hidden;
  position: relative;
  top: -80px;
}

.add-hero-padding {
  padding-top: 66px;
}

.small-icon-container {
  img {
    max-width: 60%;
  }
}

#evolution {
  max-width: 800px;
  width: 100%;
  min-width: 200px;
}

.text-center {
  text-align: center;
}

.jumbotron {
  -webkit-background-position: center;
  -moz-background-position: center;
  -o-background-position: center;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 1em;

  .jumbotron-content {
    margin-top: 2em;
    min-height: 11em;
  }
}

.jumbotron-acknowledgement-banner {
  background-image: url(images/banners/banner-6.jpg);
  -webkit-background-position: top;
  -moz-background-position: top;
  -o-background-position: top;
  background-position: top;
}

.jumbotron-home-banner {
  background-image: url(images/banners/banner-1.jpg);
}

.jumbotron-people-banner {
  background-image: url(images/banners/banner-2.jpg);
  -webkit-background-position: top;
  -moz-background-position: top;
  -o-background-position: top;
  background-position: top;
}

.jumbotron-publications-banner {
  background-image: url(images/banners/banner-5.jpg);
}

.jumbotron-research-banner {
  background-image: url(images/banners/banner-3.jpg);
}

.jumbotron-resources-banner {
  background-image: url(images/banners/banner-4.jpg);
}

.logo {
  &.netlab { max-height: 40px; }
  &.caltech { max-height: 100px; }
  &.eas { max-height: 1em; }
}

.logos > a { vertical-align: middle; }

.logo-link {
  height: 200px;
  width: 200px;
  margin-left: 2.5px;
  margin-right: 2.5px;

  &.small {
    height: 100px;
    width: 100px;
  }

  .image-container {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .powerflex-logo {
    background-image: url(images/logos/sponsors/PowerFlex-Systems-Logo.svg);
  }

  .nsf-logo {
    background-image: url(images/logos/sponsors/NSF-logo.svg);
  }

  .sase-logo {
    background-image: url(images/logos/sponsors/sase-logo.png);
  }

  .arpae-logo {
    background-image: url(images/logos/sponsors/arpae-logo.jpg);
  }

  .skoltech-logo {
    background-image: url(images/logos/sponsors/skoltech-logo.png);
  }

  .dtra-logo {
    background-image: url(images/logos/sponsors/DTRA-logo.png);
  }

  .nrel-logo {
    background-image: url(images/logos/sponsors/NREL-logo-blue.png);
  }

  .flow-logo {
    background-image: url(images/logos/sponsors/FLOW-logo-color.png);
  }

  .los-alamos-logo {
    background-image: url(images/logos/sponsors/Los-Alamos-logo.png);
  }

  .most-logo {
    background-image: url(images/logos/sponsors/MOST-logo.png);
  }

  .sce-logo {
    background-image: url(images/logos/sponsors/SCE-logo.jpg);
  }

  .aro-logo {
    background-image: url(images/logos/sponsors/ARO-logo.png);
  }

  .bell-labs-logo {
    background-image: url(images/logos/sponsors/NOKIA-Bell-Labs-logo.png);
  }

  .resnick-logo {
    background-image: url(images/logos/sponsors/resnick-logo.jpg);
  }

  .lucent-logo {
    background-image: url(images/logos/sponsors/Alcatel-Lucent-Enterprise-logo.svg);
  }

  .cisco-logo {
    background-image: url(images/logos/sponsors/Cisco-logo.svg);
  }

  .doe-logo {
    background-image: url(images/logos/sponsors/DOE-logo.png);
  }

  .okawa-logo {
    background-image: url(images/logos/sponsors/Okawa-Foundation-title.png);
  }

  .afosr-logo {
    background-image: url(images/logos/sponsors/AFOSR-logo.jpg);
  }

  .corning-logo {
    background-image: url(images/logos/sponsors/corning-logo.svg);
  }

  .level-3-logo {
    background-image: url(images/logos/sponsors/Level3-logo.svg);
  }

  .juniper-logo {
    background-image: url(images/logos/sponsors/juniper-networks-logo.svg);
  }

  .sun-logo {
    background-image: url(images/logos/sponsors/Sun-logo.svg);
  }

  .microsoft-logo {
    background-image: url(images/logos/sponsors/Microsoft-logo.svg);
  }

  .intel-logo {
    background-image: url(images/logos/sponsors/Intel-logo.svg);
  }
}

.navbar {
  width: 100%;
  z-index: 1000;

  .navbar-nav {
    .nav-item {
      position: relative;
      text-transform: uppercase;

      &:hover {
        &::after {
          content: "";
          display: block;
          height: 20px;
          width: 100%;
          position: absolute;
        }

        .sub-nav {
          visibility: visible;
        }
      }

      a { font-weight: $light-weight; }
    }
  }

  &.bg-dark {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}

.navbar-brand .logo {
  height: 2em !important;
}

.navbar-margin {
  margin-top: 5em;
}

.profile {
  min-width: 15rem;

  .research.card-body {
    border-top: 1px solid $gray-200;
  }
  .card-image { overflow: hidden;}
  .image {
    min-width: 10rem;
    min-height: 10rem;
    background-size: cover;
    background-position: center;

    &.no-face {
      background-image: url(http://placehold.it/400x600);
    }

    // faculty
    &.steven-low {
      background-image: url(images/people/faculty/steven-low-canonical.jpg);
    }
    &.adam-wierman {
      background-image: url(images/people/faculty/adam-wierman.jpg);
    }
    &.john-doyle {
      background-image: url(images/people/faculty/john-doyle.jpg);
    }
    &.mani-chandy {
      background-image: url(images/people/faculty/mani-chandy.jpg);
    }

    // admin
    &.christine {
      background-image: url(images/people/admin/christine.jpg);
    }

    // postdocs
    &.james-anderson {
      background-image: url(images/people/postdocs/james-anderson.png);
    }
    &.guannan-qu {
      background-image: url(images/people/postdocs/guannan-qu.jpg);
    }

    // graduates
    &.yujie-tang {
      background-image: url(images/people/graduates/yujie-tang.png);
    }
    &.daniel-guo {
      background-image: url(images/people/graduates/daniel-guo.png);
    }
    &.john-pang {
      background-image: url(images/people/graduates/john-pang.png);
    }
    &.zach-lee {
      background-image: url(images/people/graduates/zach-lee.png);
    }
    &.chen-liang {
      background-image: url(images/people/graduates/chen-liang.png);
    }
    &.fengyu-zhou {
      background-image: url(images/people/graduates/fengyu-zhou.png);
    }
    &.lucien-werner {
      background-image: url(images/people/graduates/lucien-werner.png);
    }
    &.tongxin-li {
      background-image: url(images/people/graduates/tongxin-li.png);
    }
    &.sunash-sharma {
      background-image: url(images/people/graduates/sunash-sharma.png);
    }
    &.yue-chen {
      background-image: url(images/people/visiting-graduates/yue-chen.png);
    }
    &.su-wang {
      background-image: url(images/people/visiting-graduates/su-wang.png);
    }
    &.andreas-venzke {
      background-image: url(images/people/visiting-graduates/andreas-venzke.jpg);
    }
    &.bo-sun {
      background-image: url(images/people/visiting-postdocs/bo-sun.jpg);
    }
  }
}

.page-link {
  cursor: pointer;
}

.page-item.active .page-link {
  pointer-events: none;
}

#publications, {
  font-size: 0.8em;
}

.research-content-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg-psss {
  width: 100%;
  height: 100%;
  background: url(images/research-areas/power-systems-steady-state/smart-grid.svg);
}

.bg-communication-networks {
  width: 100%;
  height: 100%;
  background: url(images/research-areas/communication-networks/communication-networks.png);
}

.bg-power-systems-dynamics {
  width: 100%;
  height: 100%;
  background: url(images/research-areas/power-systems-dynamics/power-systems-dynamics.jpg);
}

.bg-electric-vehicles {
  width: 100%;
  height: 100%;
  background: url(images/research-areas/ev/electric-vehicles.png);
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.research {
  a {
    text-decoration: none;
    color: $headings-color;
  }
}

.researches {
  .research {
    overflow: hidden;
    height: 15rem;

    & > div { width: 100%; height: 100%; position: relative; }

    .bg-psss, .bg-communication-networks, .bg-electric-vehicles, .bg-power-systems-dynamics {
      background-size: cover;
      background-position: center;
    }

    h3, h4 {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, .75);
      color: #fff;
      padding: 1rem;
      margin: 0;
      width: 100%;
      height: 3.5rem;
      text-align: center;
    }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 0.8rem;
    }
  }
}

.research {
  .bg-cover {
    min-height: 150px;
  }
}

.resource-links {
  span::after {
    content: " |";
  }
  span:last-of-type::after {
    content: "";
  }
}

.sub-nav {
  position: relative;
  top: 0;
  padding-left: 5%;
  width: 100%;
  background: transparent !important;

  .nav-item {
    font-size: 14px;
    list-style: none;
  }
}

@include media-breakpoint-up(md) {
  .sub-nav {
    position: absolute;
    top: 53px;
    width: 240px;
    text-align: center;
    display: none;
    visibility: hidden;

    &.bg-dark {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }
  }
}

ul.custom {
  list-style: none;
  padding: 0;

  li {
    padding-left: 1.3em;

    &:before {
      color: #008aff;
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -1.3em;
      width: 1.3em;
    }

    &.check:before {
      content: "\f00c";
    }
    &.file:before {
      content: "\f0f6";
    }
  }
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }

  .card {
    height: 140px;
  }
}

@include media-breakpoint-down(sm) {
  #current-members .image {
    min-width: 20rem !important;
    min-height: 20rem !important;
  }
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-up(lg) {
  .profile-spacer {
    display: none !important;
  }
}
