@import "custom";
@import "ember-cli-bootstrap-4/bootstrap";
@import "timeline";

h1, h2, h3, h4, h5, h6 {
  font-family: $orbitron-font-stack;
}

a {
  font-weight: $semi-bold-weight;
}

body {
  font-family: $open-san-font-stack;
  font-weight: 100;
  font-style: normal;
  font-variant: normal;
}

main {
  background-color: #fff;
  margin-bottom: 18em;
}

footer {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1000;
}

.bg-gray {
  background-color: $gray-200;
}

.clickable {
  cursor: pointer;
}

#highlightAccordion {
  .item {
    border-bottom: 1px solid $gray-400;
    padding: 1em;

    &:last-child {
      border-bottom: 0px;
    }
  }
}

.jumbotron {
  -webkit-background-position: center;
  -moz-background-position: center;
  -o-background-position: center;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 1em;

  .jumbotron-content {
    margin-top: 2em;
    min-height: 11em;
  }
}

.jumbotron-acknowledgement-banner {
  background-image: url("images/banners/banner-6.jpg");
  -webkit-background-position: top;
  -moz-background-position: top;
  -o-background-position: top;
  background-position: top;
}

.jumbotron-home-banner {
  background-image: url("images/banners/banner-1.jpg");
}

.jumbotron-people-banner {
  background-image: url("images/banners/banner-2.jpg");
  -webkit-background-position: top;
  -moz-background-position: top;
  -o-background-position: top;
  background-position: top;
}

.jumbotron-publications-banner {
  background-image: url("images/banners/banner-5.jpg");
}

.jumbotron-research-banner {
  background-image: url("images/banners/banner-3.jpg");
}

.jumbotron-resources-banner {
  background-image: url("images/banners/banner-4.jpg");
}

.logo {
  &.netlab { max-height: 40px; }
  &.caltech { max-height: 100px; }
  &.eas { max-height: 1em; }
}

.logos > a { vertical-align: middle; }

.logo-link {
  height: 200px;
  width: 200px;

  &.small {
    height: 100px;
    width: 100px;
  }
}

.navbar {
  width: 100%;
  z-index: 1000;

  .navbar-nav {
    .nav-item {
      text-transform: uppercase;

      a { font-weight: $light-weight; }
    }
  }
}
.navbar.bg-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.navbar-brand .logo {
  height: 2em !important;
}

.navbar-margin {
  margin-top: 5em;
}

.profile {
  min-width: 15rem;

  .research.card-body {
    border-top: 1px solid $gray-200;
  }
  .card-image { overflow: hidden;}
  .image {
    min-width: 10rem;
    min-height: 10rem;
    background-size: cover;
    background-position: center;

    &.no-face {
      background-image: url('http://placehold.it/400x600');
    }

    // faculty
    &.steven-low {
      background-image: url('images/people/faculty/steven-low-canonical.jpg');
    }
    &.adam-wierman {
      background-image: url('images/people/faculty/adam-wierman.jpg');
    }
    &.john-doyle {
      background-image: url('images/people/faculty/john-doyle.jpg');
    }
    &.mani-chandy {
      background-image: url('images/people/faculty/mani-chandy.jpg');
    }

    // admin
    &.christine {
      background-image: url('images/people/admin/christine.jpg');
    }

    // postdocs
    &.james-anderson {
      background-image: url('images/people/postdocs/james-anderson.png');
    }

    // graduates
    &.yujie-tang {
      background-image: url('images/people/graduates/yujie-tang.png');
    }
    &.daniel-guo {
      background-image: url('images/people/graduates/daniel-guo.png');
    }
    &.john-pang {
      background-image: url('images/people/graduates/john-pang.png');
    }
    &.zach-lee {
      background-image: url('images/people/graduates/zach-lee.png');
    }
    &.chen-liang {
      background-image: url('images/people/graduates/chen-liang.png');
    }
    &.fengyu-zhou {
      background-image: url('images/people/graduates/fengyu-zhou.png');
    }
    &.lucien-werner {
      background-image: url('images/people/graduates/lucien-werner.png');
    }
    &.tongxin-li {
      background-image: url('images/people/graduates/tongxin-li.png');
    }
  }
}

.page-link {
  cursor: pointer;
}

.page-item.active .page-link {
  pointer-events: none;
}

#publications, #highlights {
  font-size: 0.8em;
}

.research-content-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg-psss {
  width: 100%;
  height: 100%;
  background: url('/assets/images/research-areas/power-systems-steady-state/smart-grid.svg');
}

.bg-communication-networks {
  width: 100%;
  height: 100%;
  background: url('/assets/images/research-areas/communication-networks/communication-networks.png');
}

.bg-power-systems-dynamics {
  width: 100%;
  height: 100%;
  background: url('/assets/images/research-areas/power-systems-dynamics/power-systems-dynamics.jpg');
}

.bg-electric-vehicles {
  width: 100%;
  height: 100%;
  background: url('/assets/images/research-areas/ev/electric-vehicles.png');
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.research {
  a {
    text-decoration: none;
    color: $headings-color;
  }
}

.researches {
  .research {
    overflow: hidden;
    height: 20rem;

    & > div { width: 100%; height: 100%; position: relative; }

    .bg-psss, .bg-communication-networks, .bg-electric-vehicles, .bg-power-systems-dynamics {
      background-size: cover;
      background-position: center;
    }

    h3 {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, .75);
      color: #fff;
      padding: 1rem;
      // padding-right: 1.5em;
      margin: 0;
      width: 100%;
      height: 4.3rem;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.research {
  .bg-cover {
    min-height: 300px;
  }
}


ul.custom {
  list-style: none;
  padding: 0;

  li {
    padding-left: 1.3em;

    &:before {
      color: #008aff;
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -1.3em;
      width: 1.3em;
    }

    &.check:before {
      content: "\f00c";
    }
    &.file:before {
      content: "\f0f6";
    }
  }
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }

  .card {
    height: 140px;
  }
}

@include media-breakpoint-down(sm) {

  #current-members .image {
    min-width: 20rem !important;
    min-height: 20rem !important;
  }
}
@include media-breakpoint-down(md) {


}
@include media-breakpoint-up(lg) {
  #highlights {
    border-left: 1px solid $gray-500;
  }

  .profile-spacer {
    display: none !important;
  }
}
