_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
node_modules/
vendor
.python_history*
.wget-hsts
.sudo_as_admin_successful
.git-credentials
*.code-workspace
*Zone.Identifier