<footer class="fixed-bottom" role="contentinfo">
  <div class="container mt-0">
    1200 E California Blvd, MC 305-16 Pasadena, CA 91125-8000, USA
    <br>
    Copyright © 2008-2017. Netlab, <a href="https://www.cms.caltech.edu/">Computing and Mathematical Sciences</a>. All rights reserved.
    {% if site.impressum_path %}
      <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
    {% endif %}
    {% if site.last_updated %}
      Last updated: {{ 'now' | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>

