<h1 class="display-4 mt-3">Research</h1>
<h2 class="mt-3">Communication Networks</h2>

<p class="lead">
  We have been focusing on Internet research roughly from 2000 to 2010 or so, working on congestion control, wireless networking, network architecture, resource allocation, topology and routing, network coding, etc. We have developed a mathematical theory of Internet congestion control, developed practical (WAN-in-Lab), and transferred our research to the marketplace. Our research FastTCP has been accelerating more than 1TB of Internet traffic every second circa 2014. See the Publications page for the full range of our work. In the following, we highlight some of our results in congestion control.
</p>

<ol>
  <li><a href="#congestion-control">Congestion control</a></li>
  <li><a href="#layering">Layering as optimization decomposition</a></li>
  <li><a href="#other-results">Other interesting results</a></li>
</ol>

<figure class="col-lg-10 col-md-8 mx-auto">
  <a href="/assets/images/research-areas/communication-networks/FAST-timeline.png" target="_blank">
    <img src="/assets/images/research-areas/communication-networks/FAST-timeline.png" alt="FAST timeline" class="img-fluid">
  </a>
  <figcaption class="text-center">
    Caltech FAST Project
  </figcaption>
</figure>

<h3>
  <div id="congestion-control" class="offset-anchor" />
  Congestion control
  <small><a href="#top" class="float-right">&uarr; top</a></small>
</h3>

<p>
  Congestion control has been responsible for maintaining stability as the Internet scaled up in size, speed, traffic volume, coverage, and complexity by many orders of magnitude over the last four decades, especially since late 1980s (see Figure 1).


  <figure class="col-md-8 float-md-right">
    <a href="/assets/images/research-areas/communication-networks/ESnet-backbone-bandwidth.png" target="_blank">
      <img src="/assets/images/research-areas/communication-networks/ESnet-backbone-bandwidth.png" alt="ESnet backbone bandwidth graph (Mbps)" class="img-fluid">
    </a>
    <figcaption class="text-center">
      Figure 1: Highest link speed of US Department of Energy’s Energy Sciences Network (ESnet) from 1987 (56 kbps) to 2012 (100Gbps).
    </figcaption>
  </figure>


  The Internet, called ARPANet at the time, was born in 1969 with four nodes. The Transmission Control Protocol (TCP) was published by Vinton Cert and Robert Kahn in 1974 split into TCP/IP (Transmission Control Protocol/Internet Protocol) in 1978, and deployed as a standard on the ARPANet by 1983. An Internet congestion collapse was detected in October 1986 on a 32 kbps link between the University of California Berkeley campus and the Lawrence Berkeley National Laboratory that is 400 yards away, during which the throughput dropped by a factor of almost 1,000 to 40 bps. Two years later Van Jacobson implemented and published the congestion control algorithm in 1 the Tahoe version of TCP based on an idea of Raj Jain, K.K. Ramakrishnan and Dah-Ming Chiu. Before Tahoe, there were mechanisms in TCP to prevent senders from overwhelming receivers, but no effective mechanism to prevent the senders from overwhelming the network. This was not an issue because there were few hosts, until the mid-1980s. By November 1986 the number of hosts was estimated to have grown to 5,089 but most of the backbone links have remained 50 – 56 bps (bits per second) since the beginning of the ARPANet. Jacobson’s scheme adapts sending rates to the congestion level in the network, thus preventing the senders from overwhelming the network. The algorithm worked very well over a network with relatively low transmission capacity, small delay, and few random packet losses. This was mostly the case in the 1990s, but as the network speed underwent rapid upgrades (see Figure 1), as Internet exploded onto the global scene beyond research and education, and as wireless infrastructure was integrated with and mobile services proliferated on the Internet, the strain on the original design started to show.
</p>

<p>
  This motivated a flurry of research activities on TCP congestion control in the 1990s. A mathematical understanding of Internet congestion control started in the late 1990s with Frank Kelly’s work on network utility maximization. An intensive effort ensued and lasted for a decade, in which we developed a mathematical theory to reverse engineer existing algorithms and understand structural properties of large-scale networks under end-to-end congestion control, systematically designed new algorithms based on analytical insights, and deployed some of these innovations in the field.
</p>

<p>A personal account of that effort, focusing on the theory development at Netlab, is summarized in:</p>
<ul>
  <li>S. H. Low. <a href="/assets/publications/Low-201707-CCbook.pdf" target="_blank">Analytical methods for network congestion control</a>, <em>Synthesis Lectures on Communication Networks</em>, Morgan and Claypool Publishers, July 2017</li>
</ul>

<p>
  It develops a coherent theory of Internet congestion control from the ground up to help understand and design the equilibrium and stability properties of large-scale networks under end-to-end control. It also demonstrates in depth the entire process of understanding a physical system, building mathematical models of the system, analyzing the models, exploring the practical implications of the analysis, and using the insights to improve a design.
</p>

<p>
  <strong>Duality model of congestion control.</strong>
  Our work on congestion control started in the late 1990s at the University of Melbourne, as reported in:
</p>

<ul>
  <li>S. H. Low and D. E. Lapsley. <a href="https://ieeexplore.ieee.org/document/811451/" target="_blank">Optimization flow control, I: basic algorithm and convergence</a>, <em>IEEE/ACM Transactions on Networking</em>, 7(6):861-75, Dec 1999</li>
  <li>S. H. Low. <a href="https://ieeexplore.ieee.org/document/1224453/" target="_blank">A duality model of TCP and queue management algorithms</a>, <em>IEEE/ACM Transactions on Networking</em>, 11(4):525-536, Aug 2003</li>
</ul>



<p>
  where we interpret Internet congestion control simply as a gradient projection algorithm carried out by TCP sources and queue management mechanisms over the Internet in real time to solve the dual of a utility maximization problem. It also proves that, provided that the stepsize of the algorithm is small enough, the system will converge even in an asynchronous setting with heterogeneous feedback delays where TCP sources and queue management mechanisms take actions at different times, with different frequencies and using possibly outdated information. This model is applied to understand the delay-based protocol TCP Vegas in:
</p>

<ul>
  <li>
    S. H. Low, Larry Peterson and Limin Wang.
    <a href="/assets/publications/Low-200203-vegas.pdf" target="_blank">Understanding Vegas: A Duality Model</a>,
    <em>Journal of ACM</em>,
    49(2):207-235, Mar 2002
  </li>
</ul>

<p>and has motivated a new active queue management (AQM) algorithm:</p>

<ul>
  <li>
    S. Athuraliya, V. H. Li, S. H. Low and Q. Yin.
    <a href="https://ieeexplore.ieee.org/document/923940/" target="_blank">REM: Active Queue Management</a>,
    <em>IEEE Network</em>,
    15(3):48-53, May/Jun 2001
  </li>
</ul>

<p>
  <strong>Control theoretic analysis.</strong>
  I then moved to Caltech in 2000 to work with John Doyle and Fernando Paganini to develop a more refined understanding of the impact of feedback delay on the stability properties of TCP algorithms using control theory. An application of this theory to TCP Reno is reported in:
</p>

<ul>
  <li>
    S. H. Low, F. Paganini, J.Wang and J. C. Doyle.
    <a href="/assets/publications/Low-200312-TCPstability-CompNet.pdf" target="_blank">Linear stability of TCP/RED and a Scalable Control</a>,
    <em>Computer Networks Journal</em>,
    43(5):633-647, Dec 2003
  </li>
</ul>

<p>
  that shows that Reno can lose stability when feedback delay increases, or, more strikingly, when link capacity increases. In stark contrast, a scalable TCP/AQM algorithm that maintains linear stability for arbitrary feedback delay and arbitrary link capacity is proposed in:
</p>

<ul>
  <li>
    F. Paganini, Z.Wang, J. C. Doyle and S. H. Low.
    <a href="https://ieeexplore.ieee.org/document/1402470/" target="_blank">Congestion control for high performance, stability and fairness in general networks</a>,
    <em>IEEE/ACM Transactions on Networking</em>,
    13(1):43-56, Feb 2005
  </li>
</ul>

<figure class="col-lg-6 col-md-8 col-sm-12 mx-auto">
  <a href="/assets/images/research-areas/communication-networks/nyquist-plots.png" target="_blank">
    <img src="/assets/images/research-areas/communication-networks/nyquist-plots.png" alt="Nyquist plots" class="img-fluid">
  </a>
  <figcaption class="text-center">
    Nyquist plots
  </figcaption>
</figure>

<p>This series of work is summarized in the tutorial:</p>

<ul>
  <li>
    S. H. Low, F. Paganini and J. C. Doyle.
    <a href="https://ieeexplore.ieee.org/document/980245/" target="_blank">Internet congestion control</a>.
    <em>IEEE Control Systems Magazine</em>,
    22(1):28-43, Feb 2002
  </li>
</ul>

<p>
  <strong>FAST TCP.</strong>
  An important insight from the control-theoretic analysis above is that the dynamics of queueing delay has exactly the right scaling with respect to network capacity. This means that queueing delay as a congestion measure has the distinct advantage of helping maintain stability as a network scales up in capacity, in contrast to the behavior of TCP Reno. This motivates our delay-based FAST TCP protocol for high-speed long-latency networks, reported in:
</p>

<ul>
  <li>
    David X. Wei, Cheng Jin, Steven H. Low and Sanjay Hegde.
    <a href="https://ieeexplore.ieee.org/document/4032738/" target="_blank">FAST TCP: motivation, architecture, algorithms, performance</a>,
    <em>IEEE/ACM Transactions on Networking</em>,
    14(6):1246-1259, Dec 2006
  </li>
</ul>

<p>
  We started to work with high-energy physics professor Harvey Newman of Caltech in 2002. Our first and stunning demonstration of FAST TCP was Caltech’s first participation in Internet Land Speed Record at SuperComputing Conference in November 2002, organized by Newman and his multi-institution high-energy physics team. The results of the global experiment at SC2002 are reported in:
</p>

<ul>
  <li>
    C. Jin, D. X. Wei, S. H. Low, G. Buhrmaster, J. Bunn, D. H. Choe, R. L. A. Cottrell, J. C. Doyle, W. Feng, O. Martin, H. Newman, F. Paganini, S. Ravot and S. Singh.
    <a href="https://ieeexplore.ieee.org/document/1383434/" target="_blank">FAST TCP: From Theory to Experiments</a>,
    <em> IEEE Network</em>,
    19(1):4-11, Jan/Feb 2005
  </li>
</ul>

<div class="row mb-3">
  <div class="col-md-6 col-sm-12">
    <figure>
      <a href="/assets/images/research-areas/communication-networks/FAST-TCP-network-setup.png" target="_blank">
        <img src="/assets/images/research-areas/communication-networks/FAST-TCP-network-setup.png" alt="Network setup in SC 2002, Baltimore, Maryland, November 16–22, 2002. Distance between Sunnyvale and Geneva is 10,037
km; that between Sunnyvale and Baltimore is 3948 km." class="img-fluid">
      </a>
      <figcaption class="text-center">Network setup in SC 2002, Baltimore, Maryland, November 16–22, 2002. Distance between Sunnyvale and Geneva is 10,037km; that between Sunnyvale and Baltimore is 3948 km.</figcaption>
    </figure>
  </div>
  <div class="col-md-6 col-sm-12">
    <figure>
      <a href="/assets/images/research-areas/communication-networks/FAST-TCP-aggregate-throughput-traces.png" target="_blank">
        <img src="/assets/images/research-areas/communication-networks/FAST-TCP-aggregate-throughput-traces.png" alt="Aggregate throughput traces of two flows. From left: Linux (txqueuelen = 100), Linux (txqueuelen = 10,000), FAST (txqueuelen = 100); x-axis is time, y-axis is aggregate throughput, and percentage is utilization." class="img-fluid">
      </a>
      <figcaption class="text-center">
        Aggregate throughput traces of two flows. From left: Linux (txqueuelen = 100), Linux (txqueuelen = 10,000), FAST(txqueuelen = 100); x-axis is time, y-axis is aggregate throughput, and percentage is utilization.
      </figcaption>
    </figure>
  </div>
</div>

<p>
  FAST TCP motivated the building of a unique university testbed WAN-in-Lab that used real carrier-class networking hardware to avoid the artifacts introduced by network simulation and emulation, while being localized to allow detailed measurement of network performance:
</p>

<ul>
  <li>
    George S. Lee, Lachlan L. H. Andrew, Ao Tang and S. H. Low.
    <a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.71.1834" target="_blank">WAN-in-lab: Motivation, Deployment and Experiments</a>,
    <em>Proc. Int’l Workshop on Protocols for Fast, Long Distance Networks (PFLDnet)</em>,
    pp. 85-90. Marina Del Rey, CA, 7-9 Feb 2007
  </li>
</ul>

<p>
  Some of us took the effort to deploy our research in the real world through a startup FastSoft. Since 2014, FAST TCP has been accelerating more than 1TB of Internet traffic every second.
</p>

<div class="row mb-3">
  <div class="col-md-6 col-sm-12">
    <figure>
      <a href="/assets/images/research-areas/communication-networks/multiplexer-looping-OC48-streams-16x.png" target="_blank">
        <img src="/assets/images/research-areas/communication-networks/multiplexer-looping-OC48-streams-16x.png" alt="Multiplexer configured to maximize round trip time delay by looping OC48 streams over a fiber 16 times" class="img-fluid">
      </a>
      <figcaption class="text-center">Multiplexer configured to maximize round trip time delay by looping OC48 streams over a fiber 16 times.</figcaption>
    </figure>
  </div>
  <div class="col-md-6 col-sm-12">
    <figure>
      <a href="/assets/images/research-areas/communication-networks/equipment-layout.png" target="_blank">
        <img src="/assets/images/research-areas/communication-networks/equipment-layout.png" alt="Layout of equipment over 10 racks" class="img-fluid">
      </a>
      <figcaption class="text-center">Layout of equipment over 10 racks.</figcaption>
    </figure>
  </div>
</div>

<h3>
  <div id="layering" class="offset-anchor" />
  Layering as optimization decomposition
  <small><a href="#top" class="float-right">&uarr; top</a></small>
</h3>

<p>
  TCP/AQM can be interpreted as distributed primal-dual algorithms to maximize aggregate utility over the Internet. In
</p>

<ul>
  <li>
    J. Wang, L. Li, S. H. Low and J. C. Doyle.
    <a href="https://ieeexplore.ieee.org/document/1458766/" target="_blank">Cross-layer optimization in TCP/IP networks</a>,
    <em>IEEE/ACM Transactions on Networking</em>,
    13(3):582-568, Jun 2005
  </li>
</ul>

<p>
  we show that an equilibrium of TCP/IP, if exists, maximizes aggregate utility over both source rates and routes, provided congestion prices are used as link costs. An equilibrium exists if and only if this utility maximization problem and its Lagrangian dual have no duality gap. In this case, TCP/IP incurs no penalty in not splitting traffic across multiple paths.
</p>

<p>
  The vertical decomposition is also observed in wireless networking in
</p>

<ul>
  <li>
    Lijun Chen, Steven H. Low and John C. Doyle.
    <a href="https://ieeexplore.ieee.org/document/1498496/" target="_blank">Joint congestion control and media access control design for wireless ad hoc networks</a>,
    <em>Proceedings of IEEE Infocom</em>,
    pp. 2212-2222. Miami, FL, 13-17 Mar 2005
  </li>
</ul>

<p>
  where a utility maximization is decomposed is not only distributed spatially, but also vertically into two protocol layers of TCP and media access control (MAC). This not only provides a systematic way to design and analyze TCP and MAC algorithms, but more importantly, makes their interaction more transparent.
</p>

<p>
  These and other discoveries in the literature suggest a broader model of network architecture that interprets "layering" as "optimization decomposition", where a network is modeled by a generalized network utility maximization problem, each layer corresponds to a decomposed subproblem, and the interfaces among layers are functions of optimization variables coordinating the subproblems.
</p>

<ul>
  <li>
    Mung Chiang, S. H. Low, A. Robert Calderbank and John C. Doyle.
    <a href="https://ieeexplore.ieee.org/document/4118456/" target="_blank">Layering as optimization decomposition: a mathematical theory of network architectures</a>,
    <em>Proceedings of the IEEE</em>,
    vol. 95 pp. 255-312. Jan 2007
  </li>
</ul>

<p>
  A protocol is implemented as a horizontal decomposition into distributed computation and a vertical decomposition into functional modules such as congestion control, routing, scheduling, random access, power control, and channel coding.
</p>

<h3>
  <div id="other-results" class="offset-anchor" />
  Other interesting results
  <small><a href="#top" class="float-right">&uarr; top</a></small>
</h3>

<p>
  The utility maximization model of TCP/AQM equilibrium has counter-intuitive implications analyzed in:
</p>

<ul>
  <li>
    A. Tang, J. Wang and S. Low.
    <a href="https://ieeexplore.ieee.org/document/1621113/" target="_blank">Counter-intuitive throughput behaviors in networks under end-to-end Control</a>,
    <em>IEEE/ACM Transactions on Networking</em>,
    14(2):355-368, Apr 2006
  </li>
</ul>

<p>
  Whereas all examples in the literature suggest that a fair allocation is necessarily inefficient, we characterize exactly the tradeoff between fairness and throughput in general networks. The characterization leads to the first counter-example and trivially explains all the previous supporting examples. Intuitively, we might expect that increasing link capacities always raises aggregate throughput. We show that not only can throughput be reduced when some link increases its capacity, more strikingly, it can also be reduced when all links increase their capacities by the same amount. These examples demonstrate the intricate interactions among sources in a network setting that are missing in a single-link topology that was commonly used in the TCP literature.
</p>

<p>
  When heterogeneous congestion control protocols that react to different pricing signals share the same network, the resulting equilibrium may no longer be interpreted as a solution to the standard utility maximization problem. Nonetheless, we prove the existence of equilibrium in multi-protocol networks in
</p>

<ul>
  <li>
    Ao Tang, Jintao Wang, S. H. Low and M. Chiang.
    <a href="https://ieeexplore.ieee.org/abstract/document/4265609/" target="_blank">Equilibrium of heterogeneous congestion control: existence and uniqueness</a>,
    <em>IEEE/ACM Transactions on Networking</em>,
    15(4):824-837, Oct 2007
  </li>
</ul>

<p>
  For almost all networks, the equilibria are locally unique, and finite and odd in number. They cannot all be locally stable unless there is a globally unique equilibrium. We show that if the price mapping functions, which map link prices to effective prices observed by the sources, are sufficiently similar, then global uniqueness is guaranteed.
</p>
