<h1 class="display-4 mt-3">Research</h1>
<p class="lead">Electricity generation and transportation consume about two-third of energy in the US and emit more than half of greenhouse gases.</p>
<p>To drastically reduce greenhouse gases, we must generate more electricity from clean sources and electrify transportation. To this end, the power network, from generation to transmission and distribution to consumption, will undergo an architectural transformation in the following decades that the communication network has gone through in the last two. The traditional network has a small number of large generators that are actively controlled to meet the demand of a much larger number of passive loads. The control paradigm is to schedule supply to meet forecast demand. The future smart grid will have a large number of small distributed generation resources that are not dispatchable nor accurately predictable, as well as a large number active loads. Unlike most endpoints today that are merely passive loads, the future network of distributed energy resources (DERs) may generate, sense, compute, communicate, and actuate. These intelligent DERs will create a severe risk by introducing rapid, large, and random fluctuations in power supply and demand, voltage and frequency, as well as a tremendous opportunity for a clean energy future by drastically increasing our capability to coordinate and optimize their operation in real time.</p>

<div class="row">
  <div class="col-8 mx-auto">
    <figure>
      <img src="/assets/images/research-areas/power-network-evolution.svg" alt="Power network evolution"/>
      <figcaption class="text-center">Figure 1: Power network evolution</figcaption>
    </figure>
  </div>
</div>

<p>Netlab's research focuses on some of the most fundamental challenges in this historic transformation.</p>

<div class="research bg-gray mb-3 py-3 clickable">
  {{#link-to "research.power-systems-steady-state"}}
    <div class="container">
      <div class="row">
        <div class="col-md-7 order-md-1 my-auto">
          <h2>Power Systems: Steady State</h2>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="research-image bg-psss bg-cover w-100 h-100"></div>
        </div>
      </div>
    </div>
  {{/link-to}}
</div>

<div class="research bg-gray mb-3 py-3 clickable">
  {{#link-to "research.power-systems-dynamics"}}
    <div class="container">
      <div class="row">
        <div class="col-md-7 order-md-2 my-auto">
          <h2>Power Systems: Dynamics</h2>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="research-image bg-power-systems-dynamics bg-cover w-100 h-100"></div>
        </div>
      </div>
    </div>
  {{/link-to}}
</div>

<div class="research bg-gray mb-3 py-3 clickable">
  {{#link-to "research.electric-vehicles"}}
    <div class="container">
      <div class="row">
        <div class="col-md-7 order-md-1 my-auto">
          <h2>Electric Vehicles (EV)</h2>
        </div>
        <div class="col-md-5 order-md-1 clickable">
          <div class="research-image bg-electric-vehicles bg-cover w-100 h-100"></div>
        </div>
      </div>
    </div>
  {{/link-to}}
</div>

<div class="research bg-gray mb-3 py-3 clickable">
  {{#link-to "research.communication-networks"}}
    <div class="container">
      <div class="row">
        <div class="col-md-7 order-md-2 my-auto">
          <h2>Communication Networks</h2>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="research-image bg-communication-networks bg-cover w-100 h-100"></div>
        </div>
      </div>
    </div>
  {{/link-to}}
</div>
