<h1 class="display-4 mt-3">Research</h1>
<h2 class="mt-3">Power Systems: Dynamics</h2>

<p class="lead">The dynamics of a transmission network is mainly driven by that of the bulk generators. This can be modeled by a system of nonlinear differential algebraic equations. We often study linearized power flows for simplicity.</p>

<ol>
  <li><a href="#frequency-regulation">Frequency Regulation</a></li>
  <li><a href="#impact-of-topology">Impact of Network Topology</a></li>
</ol>

<h3>
  <div id="frequency-regulation" class="offset-anchor"/>
  Frequency Regulation
  <small><a href="#top" class="float-right">&uarr; top</a></small>
</h3>

<p>Frequency control maintains the frequency of a power system tightly around its nominal value when demand or supply fluctuates. It is traditionally implemented on the generation side and consists of three mechanisms that work at different timescales in concert. The primary control restores power balance in about 30 seconds and is completely decentralized. The secondary control, called automatic generation control, operates at a timescale of several minutes and coordinates the setpoints of governors in a control area in a centralized fashion to drive the frequency back to its nominal value and the inter-area power flows to their scheduled values. The tertiary control, called economic dispatch, operates at a timescale of several minutes to an hour and schedules the output levels of generators that are online and the inter-area power flows, usually by solving centrally <em>(N &mdash; 1)</em> security-constrained OPF.</p>

<p>Ubiquitous continuous fast-acting distributed load-side participation in frequency control can greatly improve the
dynamic and steady-state behavior. The idea of load-side participation dates back to Schweppe and his co-workers in
the late 1970s. In:</p>

<ul>
  <li>
    C. Zhao, U. Topcu, L. Li and S. H. Low.
    <a href="https://authors.library.caltech.edu/45963/7/1305.0585v3.pdf" target="_blank">Design and stability of load-side primary frequency control in power systems</a>,
    <em>IEEE Trans. on Automatic Control</em>,
    59(5):1177–1189, 2014
    <br>
    <strong>Additional slides:</strong>
    <a href="/assets/slides/Low-201506-OLC3-Skoltech.pptx" target="_blank">Slides</a> (Skoltech Conf on Advanced Mathematical Methods For Energy Systems, June 2015)
  </li>
</ul>

<p>we develop a new approach to the design of load-side primary frequency control. The key idea is to formalize the control goal as a constrained optimization problem (called OLC, optimal load control) and design completely decentralized controllers such that the dynamics of the closed-loop system carries out a primal-dual algorithm to solve OLC. We prove that the equilibrium of the closed-loop dynamics is an optimal solution of OLC and is globally asymptotically stable. In:</p>

<div class="row">
  <div class="col-md-6 col-12 mx-auto">
    <figure>
      <a href="/assets/images/research-areas/power-systems-dynamics/ieee-68-bus-test-system.gif" target="_blank">
        <img src="/assets/images/research-areas/power-systems-dynamics/ieee-68-bus-test-system.gif" alt="Single line diagram of the IEEE 68-bus test system." class="img-fluid">
      </a>
      <figcaption class="text-center">Single line diagram of the IEEE 68-bus test system.</figcaption>
    </figure>
  </div>
</div>

<ul>
  <li>
    E. Mallada, C. Zhao and S. H. Low.
    <a href="/assets/publications/Mallada-2015-OLC-arXiv.pdf" target="_blank">Optimal load-side control for frequency regulation in smart grids</a>,
    <em>IEEE Trans. on Automatic Control</em>,
    62(12):6294–6309, December 2017
  </li>
</ul>

<p>we greatly extend this approach to include secondary frequency control that restores the frequency back to its nominal value, drives the inter-area power flows to their scheduled values, and enforces line limits in equilibrium. Unlike the traditional AGC, our control is distributed, requiring only neighborhood communication, and manages line congestion at fast timescale. This can provide reactive security at the secondary control timescale and relax the preventive approach of <em>N &mdash; 1</em> security at the tertiary control timescale, yielding economic efficiency. These two papers use linearized power flows and ignore generator dynamics. In:</p>

<ul>
  <li>
    C. Zhao, E. Mallada, S. H. Low and J. Bialek.
    <a href="/assets/publications/Zhao-2018-Distributed.pdf" target="_blank">Distributed plug-and-play optimal generator and load control for power system frequency regulation</a>,
    <em>International Journal of Electrical Power & Energy Systems</em>,
    101:1–12, October 2018
  </li>
</ul>

<p>we generalize our approach to nonlinear power flows and generic turbine-governor models, and propose distributed algorithms for both loads and generators.</p>

<p>Another design and stability proof using linear power flows are developed in:</p>

<ul>
  <li>
    Z. Wang, F. Liu, S. H. Low, C. Zhao and S. Mei.
    <a href="/assets/publications/Wang-2018-OLC-part-1-arXiv.pdf" target="_blank">Distributed frequency control with operational constraints, part I: per-node power balance</a>,
    <em>IEEE Trans. on Smart Grid</em>,
    2017
  </li>
  <li>
    Z. Wang, F. Liu, S. H. Low, C. Zhao and S. Mei.
    <a href="/assets/publications/Wang-2018-OLC-part-2-arXiv.pdf" target="_blank">Distributed frequency control with operational constraints, part II: network power balance</a>,
    <em>IEEE Trans. on Smart Grid</em>, 2017
  </li>
</ul>

<h3>
  <div id="impact-of-topology" class="offset-anchor" />
  Impact of Network Topology
  <small><a href="#top" class="float-right">&uarr; top</a></small>
</h3>
Add later.
