<div class="jumbotron jumbotron-acknowledgement-banner jumbotron-fluid">
  <div class="container">
    <div class="jumbotron-content text-light">
      <h1 class="display-3"></h1>
      <p class="lead"></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 mt-3">Acknowledgement</h1>

      <p class="lead">Thank you to all who supported us!</p>

      <div class="d-flex flex-wrap justify-content-around">
        {{#each sponsors as |sponsor| }}
          {{sponsor-thumbnail model=sponsor}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
