<header>
  {{component "nav-bar"}}
</header>

<main role="main" class="pb-3">
  {{outlet}}
</main>

<footer>
  <div class="container py-3">
    <div class="row">
      <div class="col-12">
        <div class="text-center mt-3">
          Email:
          <a href="mailto:netlab@caltech.edu">netlab@caltech.edu</a>
        </div>
        <div class="d-flex justify-content-center logos">
          {{#link-to 'index' class="d-flex align-items-center mr-3"}}
            <img src="assets/images/netlab-logo.png" class="logo netlab mx-3 img-fluid" />
          {{/link-to}}
          <a href="http://www.caltech.edu" class="d-flex align-items-center">
            <img src="assets/images/caltech-logo-white.png" class="logo caltech img-fluid" />
          </a>
        </div>
        <p class="text-center">
          <a href="http://eas.caltech.edu">
            <img src="assets/images/eas-allcaps-oneliner-white.png" alt="eas oneliner logo" class="logo eas img-fluid" />
          </a>
        </p>
        <p class="text-center">
          <small>
            1200 E California Blvd, MC 305-16 Pasadena, CA 91125-8000, USA
            <br>
            Copyright &copy; 2008-2017. Netlab, <a href="http://cms.caltech.edu">Computing and Mathematical Sciences</a>. All rights reserved.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
