<div class="bg-gray mb-3 add-hero-padding">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 my-3">
        <h2 class="sr-only">Research</h2>
        <div class="researches row">
          <div class="research col-md-3 col-lg-3 my-3">
            {{#link-to "research.power-systems-steady-state"}}
              <div class="research-content-container">
                <div class="bg-psss clickable">
                  <h4>Power Systems: Steady State</h4>
                </div>
              </div>
            {{/link-to}}
          </div>
          <div class="research col-md-3 col-lg-3 my-3">
            {{#link-to "research.power-systems-dynamics"}}
              <div class="research-content-container">
                <div class="bg-power-systems-dynamics clickable">
                  <h4>Power Systems: Dynamics</h4>
                </div>
              </div>
            {{/link-to}}
          </div>
          <div class="research col-md-3 col-lg-3 my-3">
            {{#link-to "research.electric-vehicles"}}
              <div class="research-content-container">
                <div class="bg-electric-vehicles clickable">
                  <h4>Electric Vehicles (EV)</h4>
                </div>
              </div>
            {{/link-to}}
          </div>
          <div class="research col-md-3 col-lg-3 my-3">
            {{#link-to "research.communication-networks"}}
              <div class="research-content-container">
                <div class="bg-communication-networks clickable">
                  <h4>Communication Networks</h4>
                </div>
              </div>
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3 py-3">
  <div class="row">
    <div id="publications" class="col-lg-12">
      <h2 class="text-lg-center">Recent Publications</h2>
      {{publication-list model=recent}}
    </div>
  </div>
</div>
