<div class="jumbotron jumbotron-research-banner jumbotron-fluid">
  <div class="container">
    <div class="jumbotron-content text-light">
      <h1 class="display-3"></h1>
      <p class="lead"></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 mt-3">Research</h1>
      <p>Phasellus non purus et sapien porttitor feugiat. Proin ac iaculis turpis. Duis pellentesque vulputate orci sed tincidunt. Maecenas vulputate purus quis libero tincidunt, lobortis aliquet mauris porttitor. Maecenas venenatis eu diam at efficitur. Sed quis tincidunt neque. Nam sit amet scelerisque ante.</p>

      <p>Nulla sodales felis nisl, id hendrerit ligula vehicula vitae. Morbi viverra finibus cursus. Vivamus in accumsan eros. Ut at nunc a dolor blandit rutrum. Duis sit amet lectus enim. Maecenas eu ultrices ante. Nam eu vehicula elit. Sed pharetra sollicitudin dolor, id scelerisque nibh. Praesent lobortis auctor metus, non sollicitudin lacus. Quisque congue, justo vel commodo varius, neque enim bibendum massa, mattis scelerisque enim dui ut ligula.</p>


      <div class="research bg-gray mb-3 py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-7 order-md-1 my-auto">
              <h2>Power system steady state</h2>
              <p class="lead">Morbi finibus, mi id blandit pharetra, nibh ante faucibus tellus, quis mattis sapien tellus eu dui. Etiam porta placerat eros.</p>
              <p>Phasellus fermentum efficitur accumsan. Donec mattis posuere vestibulum. Praesent vestibulum, orci nec porta ultrices, tellus arcu cursus mauris, vitae lacinia tortor augue ac nunc. Ut iaculis vitae leo vel bibendum. Morbi ut erat neque. Duis ac condimentum nulla. Suspendisse blandit dapibus mi. Vestibulum suscipit erat et erat elementum iaculis.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <div class="research-image bg-psss bg-cover w-100 h-100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="research bg-gray mb-3 py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-7 order-md-2 my-auto">
              <h2>Power system dynamics</h2>
              <p class="lead">Morbi finibus, mi id blandit pharetra, nibh ante faucibus tellus, quis mattis sapien tellus eu dui. Etiam porta placerat eros.</p>
              <p>Vivamus pulvinar, elit id congue auctor, nulla nisl rutrum odio, a faucibus diam dolor a diam. Phasellus ac tortor et lacus auctor egestas. Phasellus rhoncus nunc hendrerit velit mattis finibus. Sed pharetra, magna vel volutpat luctus, ligula mauris cursus tortor, quis pharetra felis neque ac tortor. </p>
            </div>
            <div class="col-md-5 order-md-1">
              <div class="research-image bg-power-systems-dynamics bg-cover w-100 h-100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="research bg-gray mb-3 py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-7 order-md-1 my-auto">
              <h2>Electric vehicles (EV)</h2>
              <p class="lead">Morbi finibus, mi id blandit pharetra, nibh ante faucibus tellus, quis mattis sapien tellus eu dui. Etiam porta placerat eros.</p>
              <p>Phasellus rhoncus nunc hendrerit velit mattis finibus. Sed pharetra, magna vel volutpat luctus, ligula mauris cursus tortor, quis pharetra felis neque ac tortor. </p>
            </div>
            <div class="col-md-5 order-md-1">
              <div class="research-image bg-electric-vehicles bg-cover w-100 h-100"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="research bg-gray mb-3 py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-7 order-md-2 my-auto">
              <h2>Communication networks</h2>
              <p class="lead">Morbi finibus, mi id blandit pharetra, nibh ante faucibus tellus, quis mattis sapien tellus eu dui. Etiam porta placerat eros.</p>
              <p>Phasellus fermentum efficitur accumsan. Donec mattis posuere vestibulum. Praesent vestibulum, orci nec porta ultrices, tellus arcu cursus mauris, vitae lacinia tortor augue ac nunc. Ut iaculis vitae leo vel bibendum. Morbi ut erat neque. Duis ac condimentum nulla. Suspendisse blandit dapibus mi. Vestibulum suscipit erat et erat elementum iaculis.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <div class="research-image bg-communications-network bg-cover w-100 h-100"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
