<div class="jumbotron jumbotron-resources-banner jumbotron-fluid">
  <div class="container">
    <div class="jumbotron-content text-light">
      <h1 class="display-3"></h1>
      <p class="lead"></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 mt-3">Resources</h1>

      <div class="accordion" id="resourceAccordion">

        <div class="card">
          <div class="card-header" id="psResources">
            <h5 class="mb-0">
              <button class="btn btn-link w-100" type="button" data-toggle="collapse" data-target="#collapsePS" aria-expanded="true" aria-controls="collapsePS">Power Systems</button>
            </h5>
          </div>

          <div id="collapsePS" class="collapse show" aria-labelledby="psResources" data-parent="#resourceAccordion">
            <div class="card-body">

              <section>
                <h5 class="card-title">
                  <i class="fa fa-comment fa-flip-horizontal"></i>
                  Talks
                </h5>

                <table class="table">
                  <tbody>
                    {{#each powerSystems.talks as |talk|}}
                      {{resource-talk-row model=talk}}
                    {{/each}}
                  </tbody>
                </table>
              </section>

              <section>
                <h5 class="card-title">
                  <i class="fa fa-pencil"></i>
                  Blog Posts -
                  <small class="text-muted"><a href="https://rigorandrelevance.wordpress.com/author/slowatcaltech/" target="_blank">Rigor + Relevance</a></small>

                </h5>

                <table class="table">
                  <tbody>
                    {{#each powerSystems.blogPosts as |blogPost|}}
                      {{resource-blog-row model=blogPost}}
                    {{/each}}
                  </tbody>
                </table>
              </section>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="evResources">
            <h5 class="mb-0">
              <button class="btn btn-link w-100" type="button" data-toggle="collapse" data-target="#collapseEV" aria-expanded="true" aria-controls="collapseEV">Electric Vehicles</button>
            </h5>
          </div>

          <div id="collapseEV" class="collapse" aria-labelledby="evResources" data-parent="#resourceAccordion">
            <div class="card-body">
              N/A
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="cnResources">
            <h5 class="mb-0">
              <button class="btn btn-link w-100" type="button" data-toggle="collapse" data-target="#collapseCN" aria-expanded="true" aria-controls="collapseCN">Communication Networks</button>
            </h5>
          </div>

          <div id="collapseCN" class="collapse" aria-labelledby="cnResources" data-parent="#resourceAccordion">
            <div class="card-body">
              <section>
                <h5 class="card-title">
                  <i class="fa fa-file-text"></i>
                  Papers
                </h5>

                <table class="table">
                  <tbody>
                    {{#each communicationNetworks.papers as |paper|}}
                      {{resource-paper-row model=paper}}
                    {{/each}}
                  </tbody>
                </table>
              </section>

              <section>
                <h5 class="card-title">
                  <i class="fa fa-comment fa-flip-horizontal"></i>
                  Talks
                </h5>

                <table class="table">
                  <tbody>
                    {{#each communicationNetworks.talks as |talk|}}
                      {{resource-talk-row model=talk}}
                    {{/each}}
                  </tbody>
                </table>
              </section>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
